<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../fragmente/head'); %>
</head>

<body>
<div class="header">
    <%- include('../fragmente/header'); %>
</div>

   
    <main>
        <h1> Error 404 </h1>
    </main>

    <div class="footer">
        <%- include('../fragmente/footer'); %>
    </div>

    </div>

</body>