<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../fragmente/head'); %>
</head>

<body>
<div class="header">
    <%- include('../fragmente/header'); %>
</div>

   
    <main>
        <h1> Galerie Statica </h1>
        <div id="galerie_statica"><%- include('../fragmente/galeriestatica'); %> </div>   
        
    </main>

    <div class="footer">
        <%- include('../fragmente/footer'); %>
    </div>

    </div>

</body>