    <footer>
        <p id="banner">Acesta este un proiect scolar. Acceptati cookie-urile de pe site? <button id="ok_cookies">Ok</button></p>
        <address>
            <a href="#top">Page Top</a><br>
            Contact info:<br>
            <a href="tel:+40728868912">555-428-0940</a><br>
            <a href="mailto:webmaster@example.com">person@email.com</a>.<br>
            <a href="https://wa.me/+40728868912">Whatsapp</a><br>
            <a href="https://goo.gl/maps/F5y8rKSMRP87kga98">Strada Academiei 14, București</a><br>

        </address>
        <p><small>&copy; copyright <time datetime="2022-02-20">20 Februarie 2022 </time>Arason Unique
                Clothing</small>
        </p>
    </footer>
