<h1 class="titlu-watermark">Arason Unique Clothing</h1>
<header id="top">
        <nav class="top-nav">
            <div>
            </div>
            <input id="menu-toggle" type="checkbox" />
            <label class='menu-button-container' for="menu-toggle">
                <div class='menu-button'></div>
            </label>
            <ul class="menu meniu">
                <li class="casuta"><a href="index.html" class="meniutranz-lg">Home</a></li>
                
                <li ><a href="index.html" class="meniutranz-md"><i class="fas fa-home"></i></a></li>
                <li><a href="#despre" class="meniutranz">About us</a></li>
                <li>
                    <div class="dropdown">
                        <a href="#articole" id="dropbtn" class="dropbtn meniutranz ">New Collection</a>
                        <div class="dropdown-content">
                            <ul class="dropdown_menu">
                                <li><a href="#bluze">Tops</a></li>
                                <li><a href="#rochii">Dresses</a></li>
                                <li><a href="#pantaloni">Trousers</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="item-submenu">
                    <div class="dropdown">
                        <a href="#shopnow" id="dropbtn" class="dropbtn meniutranz submenu ">Shop now</a>
                        <div class="dropdown-content">
                            <ul class="dropdown_menu sub-menu">
                                <li><a>New Apparel</a></li>
                                <li><a>Autumn-Winter Collection 2022</a></li>
                                <li><a>Spring-Summer Collection 2022</a></li>
                                <li><a>Sales!</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="#recomandate" class="meniutranz">Our recommendations</a></li>
                <li><a href="#reviews" class="meniutranz">Client Reviews</a></li>
                <li><a class="meniutranz">FAQ</a></li>
                <li><a href="/contactus" class="meniutranz">Contact us</a></li>
            </ul>
        </nav>
    </header>
    <h1 class="titlu">Arason Unique Clothing</h1>

