<h1 class="titlu-watermark">Arason Unique Clothing <%- locals.propGenerala %></h1>
<header id="top">
        <nav class="top-nav">
            <div>
            </div>
            <input id="menu-toggle" type="checkbox" />
            <label class='menu-button-container' for="menu-toggle">
                <div class='menu-button'></div>
            </label>
            <ul class="menu meniu">
                <li class="casuta"><a href="/home" class="meniutranz-lg">Home</a></li>
                
                <li ><a href="index.html" class="meniutranz-md"><i class="fas fa-home"></i></a></li>
                <li><a href="#despre" class="meniutranz">About us</a></li>
                <li>
                    <div class="dropdown">
                        <a href="#articole" id="dropbtn" class="dropbtn meniutranz ">New Collection</a>
                        <div class="dropdown-content">
                            <ul class="dropdown_menu">
                                <li><a href="/products">All</a></li>
                                <li><a href="/products?tip=topuri">Tops</a></li>
                                <li><a href="/products?tip=rochii">Dresses</a></li>
                                <li><a href="/products?tip=sacouri">Jackets</a></li>
                                <li><a href="/products?tip=pantaloni">Pants</a></li>
                                <li><a href="/products?tip=fuste">Skirts</a></li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li class="item-submenu">
                    <div class="dropdown">
                        <a href="#shopnow" id="dropbtn" class="dropbtn meniutranz submenu ">Shop now</a>
                        <div class="dropdown-content">
                            <ul class="dropdown_menu sub-menu">
                                <li><a>New Apparel</a></li>
                                <li><a>Autumn-Winter Collection 2022</a></li>
                                <li><a>Spring-Summer Collection 2022</a></li>
                                <li><a>Sales!</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li><a href="#recomandate" class="meniutranz">Our recommendations</a></li>
                <li><a href="#reviews" class="meniutranz">Client Reviews</a></li>
                <li><a class="meniutranz">FAQ</a></li>
                <li><a href="/contactus" class="meniutranz">Contact us</a></li>
                <li><a href="/inregistrare" class="meniutranz">Inregistrare</a></li>
                
                <!-- <li ><div class="dropdown">
                    <a id="dropbtn" class="dropbtn meniutranz "><$- locals.utilizator.username %></a></div>
                    <div class="dropdown-content">
                        <ul class="dropdown_menu sub-menu">
                            <li><a href="/profil">Profil</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </li> -->
                <% if(locals.utilizator) { %>
                <li>
                    <div class="dropdown">
                        <a href="#profil" id="dropbtn" class="dropbtn meniutranz "><%- locals.utilizator.username %></a>
                        <div class="dropdown-content">
                            <ul class="dropdown_menu">
                                <li><a href="/profil">Profil</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <% } %>

            </ul>
        </nav>

        <!-- DARK MODE -->
    <p><button id="btn_tema">Dark Mode</button></p>
    <script>
        var tema = localStorage.getItem("tema");
    if(tema)
        document.body.classList.add("dark");
    else
        document.body.classList.remove("dark");

    </script>
    </header>
    
    <h1 class="titlu">Arason Unique Clothing</h1>

