@use 'sass:math';

$setare-server:black !default;
$nrimag: 7 !default;
$transformare_i: scaleY(1);
$transformare_int: rotateZ(0deg) scaleY(0.1);
$transformare_f: rotateZ(90deg) scaleY(0.1) ;

#sectiune-galerie-animata{
	padding-left: var(--padding-intern);/* variabila din css-ul general*/
	padding-right: var(--padding-intern);
}
.galerie-a{
	width:500px;
	height:500px;
	border: 10px solid transparent;
	border-image: url(/static/imagini/border_image.png) 30 round;
	position:relative;
	overflow:hidden;
	margin-bottom:5rem;
}
.galerie-a figcaption{
	position:absolute;
	bottom:0;
	background:rgba(255,255,255,0.7);
	width:100%;
	text-align:center;
}
.galerie-a figure{
	position:relative;
	width:500px;
	height:500px;
}

#galerie-animata figure{	
	
	position:absolute;
	margin-top: 0;
	margin-left: 0;
	left:0;
	top:0;
	z-index:0;
	animation-name:gal_exemplu;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
	animation-fill-mode:forwards;
	animation-duration:(3*($nrimag - 1)) * 1s;	
	transform-origin: 0 50%;

}


#galerie-animata:hover figure{
	animation-play-state: paused;
}
@for $i from 0 through ($nrimag - 2) {
    #galerie-animata figure:nth-of-type(#{($nrimag - 1) - $i}) {
		animation-delay: $i * 3s;
    }
}

/*cum calculam timpii:
- avem 7 poze; vrem pentru fiecare un timp de afisare de 1.5 secunde si o trecere spre urmatoarea poza de 1.5 secunde
- rezulta 3 secunde pentru fiecare imagine
- 7imagini * 3secunde =21 secunde in total pentru animatie (animation-duration) si fiecare poza cu un delay = 3* numarul de ordine
- momentul in care trebuie ascunsa poza si pusa in spatele celorlalte (ca sa isi astepte randul pentru noua animatie:
il calculam cu formula  timp_afisare(normal+trecerea la urmatoarea poza)/timp_total*100 = 3/21*100 =  14.285714(aproximativ)
100%..... 21s
x%........3s

- calculam 100-14.285714=85.714286 - la acest moment imaginea trebuie sa se vada in spatele imaginii care se afiseaza in mod curent (ca sa se vada si cat timp se realizeaza efectul de schimbare a imaginii
*/

@keyframes gal_exemplu{ 
	0% {z-index:10;opacity:1;} /*perioada 0-5% in care se afiseaza fara efect */
	#{(math.div((math.div(1, $nrimag - 1) * 100) * 1%, 2))} {transform:$transformare_i; opacity: 1;} /*transformare inceput disparitie*/
	#{(math.div((math.div(1, $nrimag - 1) * 100) * 1%, 4) * 3)} {transform:$transformare_int; opacity: 1;}
	#{(math.div(1, $nrimag - 1)  * 100) * 1% - 0.0001} {z-index:10;opacity:0;transform:$transformare_f;}
	#{(math.div(1, $nrimag - 1) * 100) * 1%} {z-index:-10;transform: $transformare_i;}/* il ascund cat mai in spate sa nu vina peste imaginile care erau mai sus in html decat el*/
	
	#{100-(math.div(1, $nrimag - 1)  * 100) * 1% - 0.0001 } {opacity:0;z-index:-10;}	
	#{100-(math.div(1, $nrimag - 1) * 100) * 1%} {z-index:0;}/*setez z-index la 0 ca sa revina la ordinea normala de afisare*/
	100%{opacity:1;z-index:0;}
}

@media screen and (max-width:500px){
	#sectiune-galerie-animata{
		display: none;
	}
}